.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-height: 450px;
}

.dashboard-card-content {
  text-align: center;
}

.controls {
  max-width: 550px;
  margin: auto;
}

.search-bar {
  max-width: 550px;
  margin: auto;
  text-align: center;

}

.error {
  color: #D8000C;
  background-color: #FFBABA;
  text-align: center;
}
