<div class="grid-container">
  <div class="search-bar">
    <mat-form-field>
      <input matInput placeholder="Search Films" [(ngModel)]="movieTitle">
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon aria-label="Search" (click)=findMovies()>search</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-grid-list cols="3" rowHeight="350px" gutterSize=2px>
    <mat-grid-tile *ngFor="let movie of movieList" [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{movie.Title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>

        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><img mat-card-image src={{movie.Poster}} onError="this.src='../../assets/film-poster-placeholder.jpg';"></div>
           </mat-card-content> </mat-card> </mat-grid-tile> </mat-grid-list> </div>
