<div class="grid-container">
  <div class="search-bar">
    <mat-form-field>
      <input matInput placeholder="Search Films, Series, and Games." [(ngModel)]="movieTitle">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)=findMovies()>
      Search
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="error">
    <p *ngIf="!movieList">
      The server responded with an error, please try again!
    </p>
  </div>

  <mat-grid-list cols="3" rowHeight="350px" gutterSize=2px>
    <mat-grid-tile *ngFor="let movie of movieList | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: resCount } "
      [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{movie.Title}}
          </mat-card-title>
          <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>

        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><img mat-card-image src={{movie.Poster}} onError="this.src='../../assets/film-poster-placeholder.jpg';"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>
  <div class="controls">
    <pagination-controls responsive="true" (pageChange)="nextMovies($event)"></pagination-controls>
  </div>


</div>
